<div class="container">
  <h1>Artists in the Database</h1>

  <% if !@artists.nil? %>
  <p class="col-md-12">Sort by:
  <%= link_to "Name", root_path(sort: @next_sort_name) %>
  <%= link_to "Creation date", root_path(sort: @next_sort_created_at) %></p>
  <ul>
    <% @artists.each do |artist| %>
      <li>
        <%= link_to artist_path(artist) do %>
          <% artist.photos.each do |photo| %>
            <%= image_tag photo.picture.thumbnail %>
            <p><%= artist.name %></p>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>
