<div class="container">
  <h1 data-artist="<%= @artist.id %>"><%= @artist.name %></h1>
  <%= link_to "Delete #{@artist.name}", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to "Delete alls songs by #{@artist.name}", delete_songs_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>

  <% @artist.photos.each do |photo| %>
    <%= image_tag photo.picture.medium, class: "artist" %>
  <% end %>
  <div><%= @artist.bio %></div>
</div>
<div class="container">
  <table id="songList">
    <thead>
      <th>Title</th>
      <th>Year released</th>
    </thead>
    <tbody>
      <%= render 'songs/form', song: @song %>
      <% if !@songs.nil? %>
      <%= render @songs %>
      <% end %>
    </tbody>
  </table>
</div>
