<% if !@song.nil? && @song.errors.any? %>
  <ul>
  <% @song.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for [@artist, @song = @artist.songs.new] do |f| %>
<tr>
  <td><%= f.text_field :title %></td>
  <td><%= f.number_field :year %></td>
  <td><%= f.submit "Add song" %></td>
</tr>
<% end %>
